<h1 align="center">The Dry Fruit Bowl</h1>
<p align="center">We all want to stay healthy. In the quest of health we are looking for 
	miraculous supplements beautifully packaged lining in the stores. But did you know that 
	nature has offered us wonderful small packaging of minerals and vitamins along with their 
	disease fighting ability in the form of nuts.</p>

<div align="center"><img src="assets/dryfruitbowl.png"></div>

<table id="hometips">
	<tr>
		<td width="33%">
			<ul>
				<li>Do not package dried foods for storage until they are completely cool to the touch</li>
				<li>Dried fruits must be conditioned before they can be stored. Refer to How to Dry Fruits and Vegetables with a Dehydrator for complete instructions.</li>
				<li>Store dried foods in air-tight containers or freezer bags</li>
			</ul>				
		</td>
		<td width="33%">
			<ul>
				<li>Store dried foods in small batches to maintain freshness, and to minimize the risk for contamination</li>
				<li>Store containers in a cool, dry and dark location. 60 degrees (or less) is best</li>
				<li>Dried fruits and herbs can be stored for up to a year</li>
			</ul>								
		</td>
		<td width="33%">
			<ul>
				<li>Dried vegetables and meats can be stored for up to six months</li>
				<li>Store dried foods in the freezer, if you'd like to use them over a longer period of time</li>
				<li>To preserve freshness, store opened containers of dried foods in the refrigerator or freezer</li>
			</ul>								
		</td>
	</tr>
</table>
