<h1>Edit <%= @dry_fruit.name %></h1>
<br/> You can use this page to improve or change information related to a dry fruit.
<br/>
<%= render 'form' %>

<%= link_to 'Show', @dry_fruit %> |
<%= link_to 'Back', dry_fruits_path %>
